#content{
    /* border: 2px solid white; */
    height: 100%;
    width: 99%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#img{
  /* border: 2px solid white; */
  width: 30%;
  height: 500px;
  margin: 150px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#img img{
    height: 470px;
}

#info{
    /* border: 2px solid white; */
    width: 55%;
    height: 500px;
    margin: 120px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#info h1{
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 15px;
    text-shadow: 4px 2px 6px blue;
    position: relative;
    animation: alfej ;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}
 @keyframes alfej {
     /* 0%{
        margin-bottom: 15px;
        font-size: 4rem;
     }
     50%{
    margin-bottom: 50px;
    font-size: 5rem;
     }
     100%{
        margin-bottom: 15px;
        font-size: 4rem; 
     }
     */
     from{
        margin-bottom: 15px;
        font-size: 4rem;
     }
     to{
        margin-bottom: 50px;
        font-size: 5rem;
     }
 }
#info p{
    font-size: 2rem;
    text-shadow: 4px 2px 6px blue;
    margin-bottom: 100px;
}
#know{
   display: none;

}
#info a{
    text-decoration: none;
    font-size: 2rem;
    color: rgb(160 116 6);
    text-shadow:  10px 2px 8px #fa0808;
    

}

#info a:hover,#info a:active {
    text-decoration: underline;
    font-size: 2.1rem;
    color: grey;
    text-shadow:  10px 2px 8px #fa0808;
}
@media(max-width:1130px){
    #content{
        flex-direction: column;
        justify-content: unset;
        position: absolute;
        top: 70px;
    }
    #img{
        width: 100%;
        height: 700px;
        margin: 0px;
        margin-top: 60PX;
    }
    #img img{
        height: 700px;
    }
    #info{
        width: 100%;
        margin: 10px;
    }
    @keyframes alfej {
        from{
            font-size: 5rem;
        }
        to{
            font-size: 7rem;
        }
    }
    #info p{
        font-size: 3rem;
    }
    #info a{
        font-size: 3rem;
    }
}